@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(223, 223, 223);
}

article {
    border-radius: 7px;
    padding: 10px;
    boder: 2px solid black;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
    background-color: white;
    border-radius: 7px;
    margin: auto;
}

header {
    background-color: rgb(155, 157, 158);
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    text-indent: 1.5em;
    text-align: justify;
}